.signup {
  padding: 4rem 0;
  background-color:rgba(0,0,0,0.96);
  box-shadow:0px 0px 2px rgba(255,255,255,1),0px 0px 2px rgba(255,255,255,1);
  border-radius:30px;
  padding:2rem;
  color:rgba(255,255,255,1);
}
.center {
  width: 80vw;
  margin: 0 auto;
}
.instructions {
  text-align:left;
  margin-top:0;
  padding-top:0;
  color:white;
}
.requestimate {
  text-align:center;
  color:white;
}

.formControl {
  display:block;
  justify-content:center;
  color:#000;
  background-color:rgba(0,0,0,0.3);
  outline:none;
  border-radius: 20px;
}
.form ul {
  margin-left:2rem;
  padding-bottom:1rem;
}
.form h4{
  margin-bottom:0.4rem;
  padding-bottom:0;
  font-size:1.7rem;
  font-weight:300;
  border-bottom:2px solid rgba(0,0,0,1);
}
.form li{
  margin-bottom:0;
  padding-bottom:0;
}

.form input[type="radio"]{
  display:none;
}
.form input[type="radio"]:checked + label {
  color:rgba(0,0,0,1);
  background-color:rgba(255,255,255,1);
  text-align:left;
}

.form label {
  display: inline-flex !important;
  padding: 0.2rem;
  width:100%;
  transition: all 0.3s;
  box-shadow:0px 0px 2px rgba(255,255,255,1);
  border-radius: 20px;
  margin-bottom:1.3rem;
}
.form label:hover {
  color:rgba(255,255,255,1);
  background-color:rgba(25,25,25,1);
}

::placeholder {
  color:rgba(255,255,255,1);
  text-align:center;
  text-transform:capitalize;
}

.formControl:hover {
  color:rgba(255,255,255,1);
  text-align:center;
}

.formControl:focus {
  color:rgba(0,0,0,1);
  text-align:center;
  box-shadow:0px 0px 4px rgba(255,255,255,1),0px 0px 8px rgba(255,255,255,1);
  background-color:#fff;
}
@media screen and (min-width: 992px) {
  .center {
    width: 50vw;
    margin: 0 auto;
  }
}
.formControl,
.submit {
  width: 100%;
  font-size: 1rem;
  font-weight:300;
  margin-bottom: 1rem;
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none;
  border:none;
  height:3rem;
}
.submit {
  display:flex;
  position:static;
  margin-top:0;
  margin-bottom:0;
  text-transform: capitalize;
  color: rgba(255,255,255,1);
  transition: var(--mainTransition);
  cursor: pointer;
  -webkit-appearance: none;
  border:none;
  align-items:center;
  align-content:center;
  justify-content: center;
  align-self:center;
  text-align:center;
  padding-left: 0;
  padding-right:0;
  font-weight:500;
  font-size:10rem;
  border-radius: 300px;
  height:200px;
  width:200px;
  text-align: center;
  text-decoration:none !important;
}
.submit:hover {
  color: #000;
  background-color:#fff;
  box-shadow:0px 0px 5px rgba(255,255,255,1),0px 0px 4px rgba(255,255,255,1),0px 0px 8px rgba(255,255,255,1);
  -webkit-appearance: none;
  border:none;
  border-radius:0;
  width:100vw;
  height:0;
  transform:translate3d(0,0,100px);
  transform-style: preserve-3d;
}
.submit:focus {
  outline:none;
}
.formControl{
}
.arrow-button {
  position: absolute;
  top:90%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin:0;
  padding:0;
}
.modal-header h4 {
  padding-bottom:0;
  margin-bottom:0;
  font-size:1.4rem;
  margin-top:0;
  padding-top:0;
}

.signlink {
  display:flex;
  text-align:center;
  justify-content: center !important;
  align-content:center;
  align-self:center;
  align-items:center;
  margin:20px !important;
  padding:20px !important;
}

